<h1>Films</h1>

<h2>Here is what we are showing currently:</h2>

<ul>
<% for singular in @films %>
    <li><a href= http://localhost:4567/films/<%=singular.title%> > <%=singular.title%></a></li>
  <% end %>
</ul>